* {
    line-height: 1.5;
    background-color: blue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 500px;
    height: auto;
    border: red;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}

div {
    color: red;
}

p {
    color: blueviolet;
}


.recipe-card {
    width: 400px;
    background-color: #fffafa;
    text-align: center;
}

.recipe-content {
    text-align: left;
}

.recipe-card.feature {
    border: 2px solid red;
}

/* this is linking to <div class="alert-text"> in our html */

.alert-text {
    color: yellowgreen;
}


/* <!-- You can select id classes in CSS through #name --> */

#title { 
    background-color: blueviolet;
}

.subsection.preview {
    color: aqua;
}

.despair {
    size: 200px;
}

p {
    color: blanchedalmond;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    align-self: center;
    color: blueviolet;
    text-align: center;
}